<!--Depedency injection of service into view-->
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScaffoldersProject</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <!--SignalR client-->
        <script src="~/signalr-client-1.0.0-alpha2-final.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <!--SignalR client-->
        <script src="~/signalr-client-1.0.0-alpha2-final.min.js"></script>
    </environment>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav a, .dropdown-btn {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
        }

            .sidenav a:visited {
                color: #818181;
            }

            /* On mouse-over */
            .sidenav a:hover, .dropdown-btn:hover {
                color: #d46d15;
            }

            /* selected link */
            .sidenav a:active {
                color: #d46d15;
            }

        .row.button-row {
            margin: 15px;
        }

            .row.button-row button {
                width: 100%;
                padding: 5px;
                border: 2px solid transparent;
                border-right: 1px solid #111;
            }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: transparent;
            border: none;
            border-bottom-color: transparent;
        }

        .dropdown-container {
            display: none;
            background-color: #262626;
            padding-left: 8px;
        }

        /* Optional: Style the caret down icon */
        .fa-caret-down {
            float: right;
        }
    </style>

    <script>
        var connection = new signalR.HubConnection('/main');
    </script>
</head>

<body>
    @await Html.PartialAsync("_LoginPartial")
    <div class="container-fluid">
        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Client"))
            {
                <div class="row">
                    <div class="col-md-2 sidenav-col">
                        <div class="sidenav">
                            <div class="row">
                                <div class="dropdown">
                                    @*startof dropdown*@
                                    <button id="dropdown-button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        <span id="dropdown-button-text">Select Product</span>
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul id="dropMenuId" class="dropdown-menu"></ul>
                                </div> @*end of dropdown*@
                            </div>
                            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                            <button class="dropdown-btn">Client Menu<i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-container">
                                <a asp-controller="Client" asp-action="Index">View Products</a>
                                <a asp-area="" asp-controller="Client" asp-action="DepositHistory">Deposit History</a>
                                <a href="#clients">Buy History</a>
                            </div>
                            <a asp-area="" asp-controller="Client" asp-action="OrderBook">Order Book</a>

                            <div class="row" style="background-color:orangered">
                                @*<div class="col-md-12" style="position:absolute;width: 100%;left: 0;right:0;background-color:orangered;">*@
                                <div class="col-md-12" style="background-color:orangered; padding-left:30px;">
                                    <div class="row">
                                        <div class="input-group">
                                            <span><label style="color:white;margin-bottom:1px;margin-top:5px;font-size:20px">Wallet</label>                                            </span>
                                            <div class="input-group-addon text-right" style="background-color:transparent;border:none">
                                                <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Deposit","Client")'">Deposit</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="font-size:20px">
                                        <div id="walletId" class="text-center"><div id="loader" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
                                    </div>
                                    <div class="row"><h3 style="color:white;margin-bottom:1px;margin-top:2px">Balance</h3></div>
                                    <div class="row" style="font-size:18px">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="color:#333;background-color:transparent;border:none;font-size:16px;height:18px">Euro</span>
                                            <div id="balanceClientId" class="form-control text-right" style="color:#333;background-color:transparent;border:none;box-shadow:none;font-size:14px;height:18px"><div id="loader" class="lds-ellipsis" style="margin-right:25%"><div></div><div></div><div></div><div></div></div></div>
                                        </div>
                                    </div>
                                    <div class="row" style="font-size:18px">
                                        <div class="input-group">
                                            <span id="coinLabelId" class="input-group-addon" style="color:#333;background-color:transparent;border:none;font-size:14px;height:18px;padding-bottom:12px">.........</span>
                                            <div id="totalCoinId" class="form-control text-right" style="color:#333;background-color:transparent;border:none;box-shadow:none;font-size:14px;height:18px;padding-bottom:12px"><div id="loader" class="lds-ellipsis" style="margin-right:25%"><div></div><div></div><div></div><div></div></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#BuySell">Buy/Sell</a></li>
                                    <li><a data-toggle="tab" href="#AskBid">Ask/Bid</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                @*Buy/Sell*@
                                <div id="BuySell" class="tab-pane fade in active">
                                    <div class="row button-row">
                                        <div class="col col-xs-3 col-sm-6">
                                            <button class="buy-button btn-success" onclick="setBuy()">Buy</button>
                                        </div>
                                        <div class="col col-xs-3 col-sm-6">
                                            <button class="sell-button btn-danger" onclick="setSell()">Sell</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group">
                                            @*Enter Euro Amount*@
                                            <input id="enterAmmountId"  onchange="ConvertToSelectedCoin(this)" onkeyup="ConvertToSelectedCoin(this)" type="text" class="form-control" style="background-color:transparent" placeholder="Enter Amount">
                                            <span id="enterAmmountIdCoin" class="input-group-addon" style="background-color:transparent;padding-bottom:8px">EUR</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group">
                                            <label type="text" class="form-control" style="background-color:transparent;border:none">Total:</label>
                                            <span id="totalCoinSelectedId" class="input-group-addon" style="background-color:transparent;border:none"></span>
                                            <span id="selectedCoinId" class="input-group-addon" style="background-color:transparent;border:none"></span>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <button id="placeOrderId" class="btn btn-success" onclick="placeBuyOrder()">Place Buy Order</button>
                                    </div>
                                </div>@*End of Buy/Ask*@

                                @*Ask/Bid*@
                                <div id="AskBid" class="tab-pane fade">
                                    <div class="row button-row">
                                        <div class="col col-xs-3 col-sm-6">
                                            <button class="buy-button btn-success" onclick="setAsk()">Ask</button>
                                        </div>
                                        <div class="col col-xs-3 col-sm-6">
                                            <button class="sell-button btn-danger" onclick="setBid()">Bid</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group">
                                            @*Enter Coin Amount*@
                                            <input id="enterAmmountAskOfferId" type="text" class="form-control" style="background-color:transparent;" placeholder="Enter Amount">
                                            <span id="AskOfferCoinId" class="input-group-addon" style="background-color:transparent"></span>
                                        </div>
                                    </div>
                                  
                                    <div class="row">
                                        <div class="input-group">
                                            @*Enter Limit price Amount*@
                                            <input id="enterLimitPriceId" type="text" class="form-control" style="background-color:transparent" placeholder="Enter Limit Price">
                                            <span id="AskOfferEuroId" class="input-group-addon" style="background-color:transparent">EUR</span>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <button id="placeAskBidId" class="btn btn-success" onclick="placeAskBidOrder()" style="margin-top:5px">Place Ask</button>
                                    </div>

                                </div>
                            </div>
                        </div>@*End of SideNav*@
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        @RenderBody()
                    </div>
                </div>
            }
            else if (User.IsInRole("Admin"))
            {
                <div class="row">
                    <div class="col-md-2 sidenav-col">
                        <div class="sidenav">
                            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                            <a asp-area="" asp-controller="Admin" asp-action="Index">View Products</a>
                            <a asp-area="" asp-controller="Admin" asp-action="NewProducts">Verify Products</a>
                            <a asp-area="" asp-controller="Admin" asp-action="Users">Manage Users</a>
                            <a asp-area="" asp-controller="Admin" asp-action="Users">History Book</a>
                            <a asp-area="" asp-controller="Admin" asp-action="OrderBook">Order Book</a>


                            <div class="row" style="background-color:orangered">
                                @*<div class="col-md-12" style="position:absolute;width: 100%;left: 0;right:0;background-color:orangered;">*@
                                <div class="col-md-12" style="background-color:orangered; padding-left:30px;">
                                    <div><h3 style="color:white">Wallet</h3></div>
                                    <div class="row" style="font-size:20px">
                                        <div id="walletId" class="col-md-12 text-center"><div id="loader" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row search">
                                <form asp-action="Search" asp-controller="Account">
                                    <div class="form-group has-feedback">
                                        <label for="search" class="sr-only">Search</label>
                                        <input type="text" class="form-control" name="search" placeholder="Search">
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-2 full-screen">
                        @RenderBody()
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-2 sidenav-col">
                        <div class="sidenav">
                            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                            <a href="/Client/Index">View Products</a>
                            <a asp-area="" asp-controller="member" asp-action="Create">Create Product</a>
                            <a href="#clients">Buy History</a>

                            <div class="row" style="background-color:orangered">
                                @*<div class="col-md-12" style="position:absolute;width: 100%;left: 0;right:0;background-color:orangered;">*@
                                <div class="col-md-12" style="background-color:orangered; padding-left:30px;">
                                    <div><h3 style="color:white">Wallet</h3></div>
                                    <div class="row" style="font-size:20px">
                                        <div id="walletId" class="col-md-12 text-center"><div id="loader" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row search">
                                <form asp-action="Search" asp-controller="Account">
                                    <div class="form-group has-feedback">
                                        <label for="search" class="sr-only">Search</label>
                                        <input type="text" class="form-control" name="search" placeholder="Search">
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-offset-2 full-screen">
                        @RenderBody()
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row">
                @RenderBody()
            </div>
        }
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="/js/site.js" asp-append-version="true"></script>
        <script src="/js/vidbg.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)

    <script>
        var currentCoinPrice;//from function setProductId()
        var currentProductId;//from function setProductId()

        //Receive from server on refresh
        connection.on('Wallet', function (walletTotal, clientOrders) {
            document.getElementById("loader").style.display = "none";
            document.getElementById('walletId').innerHTML = walletTotal;
            dropClientsItems(clientOrders);
        })

        //Receive from server From Buy
        connection.on('InstantBuy', function (walletTotal, totalFromThisProduct,totalInEuro) {
            document.getElementById('walletId').innerHTML = walletTotal;
            document.getElementById('balanceClientId').innerHTML = totalInEuro.toFixed(2);
            document.getElementById('totalCoinId').innerHTML = totalFromThisProduct.toFixed(4);
        })

        connection.on('SelectedCoin', function (totalFromThisProduct, totalInEuro) {
            document.getElementById('totalCoinId').innerHTML = totalFromThisProduct.toFixed(4);
            document.getElementById('balanceClientId').innerHTML = totalInEuro.toFixed(2);

            //var parent = document.getElementById("askId");
            //parent.innerHTML = "";
            //for (var i = 0; i < asksTable.length; i++) {
            //    var child = document.createElement("li");
            //    child.innerHTML = asksTable[i].priceAsk;
            //    parent.appendChild(child);
            //}
        })


        //Methods........................
        function dropClientsItems(clientOrders) {
            var parent = document.getElementById('dropMenuId');
            for (var i = 0; i < clientOrders.length; i++) {
                var liCreate = document.createElement('li');
                liCreate.setAttribute('onclick', 'setProductId(this)');
                liCreate.setAttribute('data-value', clientOrders[i].productId);
                liCreate.setAttribute('data-currentPrice', clientOrders[i].price);
                var spanCreate = document.createElement('span');
                spanCreate.innerHTML = clientOrders[i].price;
                spanCreate.className ="select-product-price";
                var aCreate = document.createElement('a');
                aCreate.classList.add('dropdown-link');
                liCreate.appendChild(aCreate);
                liCreate.appendChild(spanCreate);
                aCreate.innerHTML = clientOrders[i].shortName;
                parent.appendChild(liCreate);

                 var label = document.createElement('span');;
                label.style.cssText = "display:none";
                //label.attributes.display('none');
                label.innerHTML = clientOrders[i].productId;
                parent.appendChild(label);

            }
        }

        function setProductId(elem) {
            currentProductId = elem.getAttribute('data-value');
            connection.invoke('SelectedCoin', currentProductId);
            currentCoinPrice = elem.getAttribute('data-currentPrice');
        }

        function ConvertToSelectedCoin(elem) {
            if (document.getElementById('enterAmmountIdCoin').innerHTML === 'EUR') {
                var TotalInSelectedCoin = document.getElementById('totalCoinSelectedId');
                TotalInSelectedCoin.innerHTML = (elem.value / currentCoinPrice).toFixed(2);
            }
            else {
                var TotalInSelectedCoin = document.getElementById('totalCoinSelectedId');
                TotalInSelectedCoin.innerHTML = (elem.value *currentCoinPrice).toFixed(2);
            }         
        }

        function setBuy() {
            let temp = document.getElementById('dropdown-button-text').innerHTML;
            document.getElementById('placeOrderId').innerHTML = 'Place Buy Order';
            document.getElementById('placeOrderId').style.backgroundColor = '#5cb85c';
            document.getElementById('enterAmmountId').value = '';
            document.getElementById('enterAmmountIdCoin').innerHTML = 'EUR';
            document.getElementById('selectedCoinId').innerHTML = temp;
        }

        function setSell() {
            let temp = document.getElementById('dropdown-button-text').innerHTML;
            document.getElementById('placeOrderId').innerHTML = 'Place Sell Order';
            document.getElementById('placeOrderId').style.backgroundColor = '#c9302c';
            document.getElementById('enterAmmountId').value = '';
            document.getElementById('enterAmmountIdCoin').innerHTML = temp;
            document.getElementById('selectedCoinId').innerHTML = 'EUR';
        }

        function setAsk() {
            document.getElementById('placeAskBidId').style.backgroundColor = '#5cb85c';
            document.getElementById('placeAskBidId').innerHTML = 'Place Ask';
        }

        function setBid() {
            document.getElementById('placeAskBidId').style.backgroundColor = '#c9302c';
            document.getElementById('placeAskBidId').innerHTML = 'Place Bid';
        }

        function placeBuyOrder() {
            //prepei na parei timi apo ta offers
            let productId = currentProductId;
            //mipos na peraso mono ta euro kai na kano upologismo server
            let euroSpend = document.getElementById('enterAmmountId').value;
            let quantity = document.getElementById('totalCoinSelectedId').innerHTML;
            connection.invoke('InstantBuy', productId, euroSpend, quantity);
            document.getElementById('enterAmmountId').value= "";
            document.getElementById('totalCoinSelectedId').innerHTML = "";
        }

        function placeAskBidOrder() {


        }

        //Start signalR connection
        connection.start().then(function () {
            $('.status-glyph').removeClass('glyphicon-remove-circle').addClass('glyphicon-ok-circle');
            $('.status-glyph').text(" Status OK");
            $('.status-glyph').css('color', 'lightgreen');
            console.log("Started....");
        })
            .catch(function (err) {
                console.log("Error");
                $('.status-glyph').text("Error");
            })
    </script>
</body>
</html>
