@model Cart

@*<div class="">
    @if (Model.Items.Count(x=>x.OrderID==0 || x.OrderID==null) > 0)
    {
        <small class="navbar-text">
            @Model.Items.Sum(x => x.Quantity) item(s)
            @ViewBag.Total.ToString("c")
        </small>
    }
   
    
</div>*@

<a id="cartId"class="btn btn-sm btn-secondary" asp-controller="Cart" asp-action="Index" asp-route-CartID="@Model.CartId">
    Cart 
   @if (Model != null)
   {
        if ((Model.Items!=null) && (Model.Items.Count(x => x.OrderID == 0 || x.OrderID == null) > 0))
        {
            <span>
                @*@Model.Items.Sum(x => x.Quantity) item(s)*@
                (@ViewBag.Total.ToString("c"))
            </span>
        }
        else
        {
            <span>(0)</span>
       }
   }
   else
   {
    <span>(0)</span>
   }
</a>

@*asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()"*@