@model IEnumerable<ViewImageViewModel>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-responsive table-condensed">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Product Price
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var prod in Model)
    { 
    <tr>
        <td>
            @prod.Name
        </td>
        <td>
            @prod.Price.ToString("C")
        </td>
        <td>
            <a asp-action="Edit" class="btn btn-warning" asp-route-productId="@prod.ProductId">Edit</a>
            <a asp-action="Delete" class="btn btn-primary" data-confirm="Are you sure you want to delete product @prod.Name?" asp-route-productId="@prod.ProductId">Delete</a>
        </td>
    </tr>
    }

    </table>
                        
              
