@model IEnumerable<Products>
@{
    ViewData["Title"] = "New Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="SaveProducts">
    <table class="table table-responsive table-striped table-bordered">
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Quantity</th>
            <th>Product Category</th>
            <th>Product Description</th>
            <th>Approve Product</th>
        </tr>
        @{ int i = 0;}
        @foreach (var prod in Model)
        {
            if (!prod.AdminApproved)
            {
                <tr>
                    <td>@prod.ProductId</td>
                    <td>@prod.Name</td>
                    <td>@prod.Price</td>
                    <td>@prod.Stock</td>
                    <td>@prod.Category</td>
                    <td>@prod.Description</td>
                    <td>
                        <label><input type="hidden" name="[@i].ProductId" value="@prod.ProductId"></label>
                        <label><input type="checkbox" name="[@i].AdminApproved" value="true"></label>
                    </td>
                </tr>
            }
            i++;
        }
    </table>
    <button class="btn btn-primary" type="submit">Save</button>
</form>

