@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row search">
    <div class="col-sm-8"><h4>User accounts</h4></div>
    <div class="col-sm-4">
        <form asp-action="Search" asp-controller="Manage">
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="search" placeholder="Search Users">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
    </div>
</div>
<table class="table table-sm table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td><a asp-controller="Admin" asp-action="EditUser" class="btn btn-primary" asp-route-Id="@user.Id">Edit</a>
                <a asp-controller="Admin" asp-action="DeleteUser" data-confirm="Are you sure you want to delete user @user.UserName?" class="btn btn-primary" asp-route-Id="@user.Id">Delete</a>
            </td>
        </tr>
    }
</table>