@model IQueryable<Cart>
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 id="emptyId" class="text-center" style="display:none">Your cart is empty!</h3>
<div class="row">
    <div class="col-md-8 col-md-offset-1">
        @if (Model != null)
        {
            <table id="tableItemId" class="table table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-right">Subtotal</th>
                        <th class="text-right"><button class="btn btn-danger btn-sm" style="float:right" onclick="clearCart()">Clear</button></th>
                    </tr>
                </thead>
                <tbody>
                    @{ var idtext = "row";}
                    @foreach (var item in Model)
                    {
                        <tr id="@idtext@item.Product.ProductId">
                            <td>@item.Product.Name</td>
                            <td class="text-center">x @item.Quantity</td>
                            <td class="text-right">@(item.Product.Price * item.Quantity)</td>
                            <td><button class="btn btn-primary btn-sm" style="float:right" value="@item.Product.ProductId" data-toggle="modal" data-target="#RemovedModal" onclick="btnRemove(this)">Remove</button></td>
                            <td></td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-right">Total:</td>
                        <td class="text-right" id="totalCost">@ViewBag.Total</td>
                    </tr>
                </tfoot>
            </table>
                        }
                        else
                        {
                            <h3 class="text-center">Your cart is empty!</h3>
                        }

        <div class="text-center">
            @if (Model != null)
            {
                <a id="checkoutId" class="btn btn-success" asp-controller="Order" asp-action="OrderForm" asp-route-CartId="@ViewBag.UserId)">Checkout</a>
            }
            <a id="continueId" class="btn btn-primary" asp-controller="Client" asp-action="Index">Continue shopping</a>
        </div>
    </div>

    <div id="RemovedModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Item Removed</h4>
                </div>
                <div class="modal-body">
                    <p id="messageRemove"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        //Receive Data from server for remove item
        connection.on('Remove', function (message, totalCost) {
            document.getElementById('messageRemove').innerHTML += message;
            $('RemovedModal').modal();
            document.getElementById('totalCost').innerHTML = totalCost;
            document.getElementById('cartId').innerHTML = totalCost;
        });

        //Receive notification from server to clear cart
        connection.on('Clear', function (totalCost) {
            document.getElementById('cartId').innerHTML = ' ('+totalCost+')';
        });

        function clearCart() {
            connection.invoke('ClearCart');
            document.getElementById('tableItemId').style.display = "none";
            document.getElementById('checkoutId').style.display = "none";
            document.getElementById('tableItemId').style.display = "none";
            document.getElementById('emptyId').style.display = "block";
        };

        //sent to server product id for removal from database
        function btnRemove(elem) {
            var productId = elem.value;
            connection.invoke('RemoveItem', productId);
            var row = document.getElementById("row" + elem.value);
            row.style.display = "none";
            //element.parentNode.removeChild(element);
        };
    </script>
</div>
