@model IEnumerable<ViewImageViewModel>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD
<div class="well well-sm" style="margin-top:10px">
    <strong>Display</strong>
    <div class="btn-group">
        <a href="#" id="list" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th-list">
            </span>List
        </a> <a href="#" id="grid" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th"></span>Grid
        </a>
    </div>
</div>
<div id="products" class="row list-group">
    @foreach (var prod in Model)
    {
        <div class="item  col-xs-3 col-lg-3">
            <div class="thumbnail">
                <a asp-area="" asp-controller="Client" asp-action="ViewProduct" asp-route-productId="@prod.ProductId">
                    @if (prod.Image == null)
                    {
                        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                    }
                    else
                    {
                        <img class="group list-group-image" src="data:@prod.ContentType;base64,@prod.Image" style="width: 400px; height:250px;" alt="" />

                    }
                </a>
                <div class="caption">
                    <a asp-area="" asp-controller="Client" asp-action="ViewProduct" asp-route-productId="@prod.ProductId">
                        <h4 class="group inner list-group-item-heading">
                            @prod.Name
                        </h4>
                    </a>
                    <p class="group inner list-group-item-text">
                        @prod.Description
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                @prod.Price.ToString("c")
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


