@model SameCategoryViewModel

@{
    ViewData["Title"] = "ViewProduct";
}
<head>
 

</head>


<body>
    <div class="container-fluid">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-4">
                <header class="bg-faded p-1">
                    <h3>
                        @Model.Product.Name
                    </h3>
                </header>
                <section class="card m-1 p-1">
                    <img  src="https://static.madata.gr/gim/greenthumb.php?src=/files/mpogdanos_547124350.jpg&w=350&h=350&zc=1&s=1 width="300" height="300">
                </section>
            </div>
            <div class="col-md-4" style="margin-top:50px;">
                <table style="width:80%">
                    <tr>
                        <td><h3>Name</h3></td>
                        <td><h3>@Model.Product.Name</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Name</h3></td>
                        <td><h3>@Model.Product.Name</h3></td>
                    <tr>
                    <tr>
                        <td><h3>Price</h3></td>
                        <td><h3>@Model.Product.Price</h3></td>

                    </tr>
                </table>

                <br><br>
                <form asp-controller="Cart" asp-action="AddtoCart" method="post">
                    <input type="hidden" name="ProductId" value=@Model.Product.ProductId>
                    <span style="font-size:23px">Quantity</span>

                             <select name="Quantity" style="margin-left:80px;">
                                @for (int i = 1; i < 5; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>

                            <br><br>
                            <div >
                                <button  class="btn btn-primary" type="submit">Add To Cart</button>
                                <button class="btn btn-primary" type="submit">Add To Wish List</button>
                               
                            </div>
                 </form>
            </div>

            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Description</h3>
                <p>EISTE POLY ANWMALOI!</p>
            </div>
            <div class="col-md-6"></div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <section class="card m-1 p-1">
                    <header class="bg-faded p-1">
                        <h3>
                            @Model.Product.Name
                            <span class="badge badge-primary" style="float:right">
                                <small>@Model.Product.Price.ToString("c")</small>
                            </span>
                        </h3>
                    </header>
                    <section class="card m-1 p-1">
                        <img src="https://memegenerator.net/img/images/120x120/15971207.jpg">
                    </section>
                </section>
            </div>
            <div class="col-md-2">
                <section class="card m-1 p-1">
                    <header class="bg-faded p-1">
                        <h3>
                            @Model.Product.Name
                            <span class="badge badge-primary" style="float:right">
                                <small>@Model.Product.Price.ToString("c")</small>
                            </span>
                        </h3>
                    </header>
                    <section class="card m-1 p-1">
                        <img src="http://neaselida.news/nsmedia/uploads/2017/10/1471284-adonis_georgiadis_930-120x120.jpg">
                    </section>
                </section>
            </div>
            <div class="col-md-2">
                <section class="card m-1 p-1">
                    <header class="bg-faded p-1">
                        <h3>
                            @Model.Product.Name
                            <span class="badge badge-primary" style="float:right">
                                <small>@Model.Product.Price.ToString("c")</small>
                            </span>
                        </h3>
                    </header>
                    <section class="card m-1 p-1">
                        <img src="http://ysterografa.gr/wp-content/uploads/2017/12/Screen-Shot-2017-12-10-at-12.20.52-PM-120x120.png">
                    </section>
                </section>
            </div>

        </div>
    </div>


    @*<div>
        @foreach (var item in Model.SimilarProducts)
        {
            <section class="card m-1 p-1">
                <header class="bg-faded p-1">
                    <h3>
                        @Model.Product.Name
                        <span class="badge badge-primary" style="float:right">
                            <small>@Model.Product.Price.ToString("c")</small>
                        </span>
                    </h3>
                </header>
                <div class="card-text p-1">
                    <p>@Model.Product.Description</p>
                    <a class="btn btn-success btn-sm" style="float:right" asp-controller="Cart" asp-action="AddToCart" asp-route-productID="@Model.Product.ProductId" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path.ToString()">Add to cart</a>
                </div>
            </section>
        }

    </div>*@



</body>
