@model SameCategoryViewModel
@{
    ViewData["Title"] = "ViewProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 style="color:#d46d15">
        <strong>@Model.Product.Name</strong>
    </h2>

<div class="row" style="margin-top:20px;">
    <div class="col-md-4">
        <section class="card m-1 p-1 item-image" style="border:solid;border-color:#d46d15">
            @if (Model.ViewImage.Image == null)
            {
                <img class="group image list-group-image" src="http://placehold.it/400x250/000/fff" alt="" style="height:275px; width:275px;"/>
            }
            else
            {
                <img class="image" src="data:@Model.ViewImage.ContentType;base64,@Model.ViewImage.Image" style="height:375px; " >
            }
            <div class="item-overlay">
                <div class="item-description">
                    <h3>Description</h3>
                    <p>@Model.Product.Description</p>
                </div>
            </div>
        </section>

    </div>
    <div class="col-md-3" style=" border:dashed;border-color:#d46d15">
        <div><h3>Price: <span id="product-view-price" style="color:#d46d15; font-size: 31px;">@Model.Product.Price.ToString("C2")</span> </h3></div>
        <div>
            <form class="form-inline" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model.Product.ProductId" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path.ToString()" method="post">
                <input type="hidden" name="productId" value=@Model.Product.ProductId>
                <input id="priceId" type="hidden" value=@Model.Product.Price>
                @if (Model.Product.Stock <= 0)
                {
                    <h5 class="text-danger">Currently out of stock</h5>
                }
                else
                {
                    <div class="form-group">
                        <input id="quantity" type="number" class="form-control" name="quantity" min=0.001 onchange="convert(this)" onkeyup="convert(this)">
                        <label>USD</label>
                    </div>
                    <br />
                }
                @if (Model.Product.Stock > 0)
                {
                    <button class="btn btn-primary" style="margin-top:5px;" type="submit">Add To Cart</button>
                }
            </form>
            
                <h4 id="convertedId" style="color:#d46d15"></h4>
            
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<h3 style="color:#d46d15">
    <strong>Similar Category Cryptos (@Model.Product.Category)</strong>
</h3>
<div class="row">    
    @{int count = 0;
        @foreach (var product in Model.SimilarViewImage)
        {
            @if (count <= 2 && product.Name != Model.Product.Name)
            {
                <div class="col-md-2" style="margin-right:8%;">
                    <section class="card m-1 p-1">
                        <header class="bg-faded p-1">
                            <h4>
                                <a asp-area="" asp-controller="Client" asp-action="ViewProduct" asp-route-productId="@product.ProductId">@product.Name</a>
                                <span class="badge" style="background-color:black">
                                    <small><b style="color:orangered">@product.Price.ToString("c")</b></small>
                                </span>
                            </h4>
                        </header>
                        <section class="card m-1 p-1">
                            @if (product.Image == null)
                            {
                                <a asp-area="" asp-controller="Client" asp-action="ViewProduct" asp-route-productId="@product.ProductId">
                                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                </a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Client" asp-action="ViewProduct" asp-route-productId="@product.ProductId">
                                    <img class="group list-group-image" src="data:@product.ContentType;base64,@product.Image" style=" width:200px;height: 200px;" alt="" />
                                </a>
                            }
                        </section>
                    </section>
                </div>
                count += 1;
            }
        }

    }
</div>







<script>

    function convert(elem) {
        var euroAmount = elem.value;
        var currentCoinPrice = document.getElementById('priceId').value;
        var converted = euroAmount / currentCoinPrice.replace(',', '.');
        document.getElementById('convertedId').innerHTML = 'You are buying: ' + converted.toFixed(4) + ' @Model.Product.ShortName';
    }

</script>

