@model SameCategoryViewModel
@{
    ViewData["Title"] = "ViewProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3 class="text-center" style="color:#d46d15">
        @Model.Product.Name
    </h3>

<div class="row" style="margin-top:20px;">
    <div class="col-md-4">
        <section class="card m-1 p-1 item-image">
            @if (Model.ViewImage.Image == null)
            {
                <img class="group image list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
            }
            else
            {
                <img class="image" src="data:@Model.ViewImage.ContentType;base64,@Model.ViewImage.Image" width="400px">
            }
            <div class="item-overlay">
                <div class="item-description">
                    <h3>Description</h3>
                    <p>@Model.Product.Description</p>
                </div>
            </div>
        </section>

    </div>
    <div class="col-md-5">
        <div><h3>Price: <span id="product-view-price" style="color:#d46d15; font-size: 31px;">@Model.Product.Price.ToString("C2")</span> </h3></div>
        <div>
            <form class="form-inline" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model.Product.ProductId" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path.ToString()" method="post">
                <input type="hidden" name="productId" value=@Model.Product.ProductId>
                <input id="priceId" type="hidden" value=@Model.Product.Price>
                @if (Model.Product.Stock <= 0)
                {
                    <h5 class="text-danger">Currently out of stock</h5>
                }
                else
                {
                    <div class="form-group">
                        <label>EUR</label>
                        <input id="quantity" type="number" class="form-control" name="quantity" onchange="convert(this)" onkeyup="convert(this)">
                    </div>
                    <p style="color:darkgreen">Available: @Model.Product.Stock (items)</p>
                }
                @if (Model.Product.Stock > 0)
                {
                    <button class="btn btn-primary" type="submit">Add To Cart</button>
                }
            </form>
            
                <h3 id="convertedId" style="color:blue"></h3>
            
        </div>
    </div>
    <div class="col-md-3"></div>
</div>



<script>

    function convert(elem) {
        var euroAmount = elem.value;
        var currentCoinPrice = document.getElementById('priceId').value;
        var converted = euroAmount / currentCoinPrice.replace(',', '.');
        document.getElementById('convertedId').innerHTML = 'You are buying: ' + converted.toFixed(4) + ' @Model.Product.ShortName';
    }

</script>

